body {
  color: #222;
}

img {
  /* Takes all available space on the width */
  max-width: 100%;
}

main {
  padding: 10px;
  /* max-width: 500px; */
  max-width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 2rem;
}

header nav {
  display: flex;
  gap: 15px;
}

div.post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  /* We need to leave some space between each post car */
  margin-bottom: 30px;
}

div.post div.texts h2 {
  margin: 0;
  font-size: 1.5rem;
}
